*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h3, h4 {
  text-align: center;
}

.container {
  display: flex;
  gap: 10px;
}

.container__item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;

  .item__buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  button {
    text-decoration: none;
    padding: 10px 15px;
  }
}